[Desktop Entry]
Name=Aggiorna
GenericName=Aggiorna lista giochi
Comment=Aggiorna lista giochi
Exec=/home/itchbox/itchbox/estrai.sh
Type=Application
Icon=/home/itchbox/itchbox/data/aggiorna128.png
Terminal=true
