[Desktop Entry]
Version=1.0
Type=Application
Name=itch
Comment=itch
Exec=/home/itchbox/itchbox/data/joypadconf.sh
Icon=input-gaming
Path=/home/itchbox/itchbox
Terminal=false
StartupNotify=true
RunHook=0
Hidden=false

