[Desktop Entry]
Name=Spegni
GenericName=Spegni la itchbox
Comment=SPegni la itchbox
Exec=poweroff
Type=Application
Icon=system-suspend-symbolic
Terminal=false
