[Desktop Entry]
Name=Spegni
GenericName=Spegni la itchbox
Comment=SPegni la itchbox
Exec=poweroff
Type=Application
Icon=/home/itchbox/itchbox/data/spegni128.png
Terminal=false
